.trendBlogMob .slick-dots li button:before {
  content: "" !important;
}
.trendBlogMob .slick-dots li button {
  background-color: transparent !important;
  border: 1px solid #b6f41e;
  padding: 0 !important;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
  margin-top: 25px;
}

.trendBlogMob .slick-dots li.slick-active button:before {
  background-color: #b6f41e !important;
  padding: 0 !important;
  border-radius: 10px !important;
  width: 10px !important;
  height: 10px !important;
  margin-top: 25px;
}
.trendBlogMob .slick-dots {
  bottom: -45px !important;
}
@media only screen and (min-width: 1700px) {
  .firstMarque {
    right: 600px;
  }
}
@media only screen and (max-width: 1300px) {
  .cardSpacing {
    padding-left: 35px;
  }
}
@media only screen and (max-width: 1000px) {
  .cardSpacing {
    padding-left: 15px;
  }
}

@media screen and (min-height: "668px") and (max-height: "") {
}
