@media screen and (max-width: 1300px) {
  .cardButton {
    padding-right: 20px;
  }
  .missionFirstImage {
    left: 2%;
  }
  .missionSecondImage {
    right: 2%;
  }
  .missionThirdImage {
    left: 10%;
  }
}
